{% extends "base.html" %}
{% block body %}

	<div class="jumbotron">
    	<h1>{{ post_title }}</h1>
    	<p>{{ post_headline }}</p>
	</div>

	<div class="panel panel-default">
    	<div class="panel-body">
        	Markdown Content
    	</div>
	</div>

	<div class="panel panel-info">
    	<div class="panel-heading">
        	<h3 class="panel-title">Feel like commenting?</h3>
    	</div>
    	<div class="panel-body">
        	<a href="{{ post_thread_url }}" class="btn btn-info">Check out the notCRUD thread</a>
    	</div>
	</div>

{% endblock %}
